<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GoldenTechSolution.Properties.Settings.GoldenTechDataConnectionString" connectionString="Data Source=GANESH-HP;Initial Catalog=GoldenTechData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
